@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg{
    background-image: url('/src/assets/HeroBg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@layer utilities {
    .drop-shadow {
        filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
    }
}

/* Custom CSS for diagonal cut */
.clip-shape {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 90% 100%, 0 100%);
}